<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>939BD7921FD83E91000E2F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939BD7A61FD83E91000E2F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>939BD7B11FD83E91000E2F29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
